* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 300px;
  background-attachment: scroll;
}

.imagem-container img {

    position: absolute;
    height: 100%;
    left: 0;
    object-fit: fill;
    z-index: -10;
    width: 100%;

}



/* Texto em cima da imagem */

.texto-lateral {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  font-weight: bold;

}



Exemplo de blur */
 
.imagem-container img::after {

  content: "";

  position: absolute;

  inset: 2;

  filter: blur(2px);

  transition: 0.3s;
}

